<%
const packageJson = require('../package.json');
const publicUrl = process.env.PUBLIC_URL;
const title = (packageJson.htmlMeta && packageJson.htmlMeta.title) || packageJson.name;
const description = (packageJson.htmlMeta && packageJson.htmlMeta.description) || packageJson.description;
const type = (packageJson.htmlMeta && packageJson.htmlMeta.type) || 'website';
const siteName = (packageJson.htmlMeta && packageJson.htmlMeta.siteName) || null;
const themeColor = (packageJson.htmlMeta && packageJson.htmlMeta.themeColor) || null;
%>
<!--suppress HtmlRequiredAltAttribute, RequiredAttributes -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title><%= title %></title>
        <meta property="og:type" content="<%= type %>" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta name="description" content="<%= description %>" />
        <% if(siteName) { %>
            <meta property="og:site_name" content="<%= siteName %>" />
        <% } %>
        <link rel="icon" href="<%= publicUrl %>/favicon.svg" type="image/svg+xml" />
        <link rel="shortcut icon" href="<%= publicUrl %>/favicon.svg" type="image/svg+xml" />
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:300,400,900" onload="this.onload=null;this.rel='stylesheet';" />
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,900" />
        </noscript>
        <link rel="apple-touch-icon" sizes="360x360" href="<%= publicUrl %>/apple-touch-icon.png" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="manifest" href="<%= publicUrl %>/manifest.json" />
        <% if(themeColor) { %>
            <meta name="theme-color" content="<%= themeColor %>" />
        <% } %>
    </head>
    <body>
        <noscript>
            <h1>JavaScript is required for this page</h1>
        </noscript>
        <div data-bind="text: extraInfo, visible: showDebug" class="extra-info" style="display: none;"></div>
        <div class="main-container">
            <div class="active-types-container">
                <!-- ko foreach: activeTypes -->
                <div class="active-type" data-bind="click: $parent.removeActiveType.bind($parent)">
                    <div class="icon" data-bind="class: typeName">
                        <img data-bind="attr: { 'src': `/images/type-icons/${typeName}.svg`, alt: typeDisplay }" />
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="all-types-container" data-bind="foreach: allTypes">
                <div class="type" data-bind="click: $parent.toggleActiveType.bind($parent)">
                    <div class="icon" data-bind="class: className">
                        <img data-bind="attr: { 'src': `/images/type-icons/${type.typeName}.svg`, alt: type.typeDisplay }" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>